body{
    font-weight: bold;
    background-color: rgb(240, 225, 205);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background-color: rgb(237, 248, 245);
    padding: 45px;
    padding-left: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}
h2{
    text-align: center;
    margin-bottom: 20px;
}

label{
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border:1px solid #ccc;
    border-radius: 5px;
}
button{
    width: 107%;
    padding: 10px;
    background-color: #fff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button{
    background-color: #000;
}

#error-message{
    color: red;
    font-size: 14px;
    text-align: center;
}
.google{
    display: flex;
    justify-content: center;
    align-items: center;
}